

/*Flair, bitches!*/
.flair {
border: none !important;
padding:0px;
background: url(%%spritesheet%%) no-repeat -9999px -9999px;
display:inline-block;
vertical-align: middle;
}
.flair { text-indent: 22px; }
.flair-1{ background-position: 0 0; min-width: 20px; height: 20px; } 
.flair-10{ background-position: 0 -70px; min-width: 20px; height: 20px; } 
.flair-11{ background-position: 0 -140px; min-width: 20px; height: 20px; } 
.flair-12{ background-position: 0 -210px; min-width: 20px; height: 20px; } 
.flair-2{ background-position: 0 -280px; min-width: 20px; height: 20px; } 
.flair-3{ background-position: 0 -350px; min-width: 20px; height: 20px; } 
.flair-4{ background-position: 0 -420px; min-width: 20px; height: 20px; } 
.flair-5{ background-position: 0 -490px; min-width: 20px; height: 20px; } 
.flair-6{ background-position: 0 -560px; min-width: 20px; height: 20px; } 
.flair-7{ background-position: 0 -630px; min-width: 20px; height: 20px; } 
.flair-8{ background-position: 0 -700px; min-width: 20px; height: 20px; } 
.flair-9{ background-position: 0 -770px; min-width: 20px; height: 20px; } 
.flair-none{ background-position: 0 -840px; min-width: 20px; height: 20px; }

/* Flair selection text */
a.flairselectbtn:after{
color:red;
font-weight:bold;
content:" Get your flair!";
}

/* Flair in comments awesomeness! */
a[href="/zero"]:before, a[href="/0"]{
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -840px; content: "";
}
a[href="/one"]:before, a[href="/1"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px 0px; content: ""; 
}
a[href="/two"]:before, a[href="/2"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -280px; content: ""; 
}
a[href="/three"]:before, a[href="/3"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -350px; content: ""; 
}
a[href="/four"]:before, a[href="/4"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -420px; content: ""; 
}
a[href="/five"]:before, a[href="/5"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -490px; content: ""; 
}
a[href="/six"]:before, a[href="/6"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -560px; content: ""; 
}
a[href="/seven"]:before, a[href="/7"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -630px; content: ""; 
}
a[href="/eight"]:before, a[href="/8"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -700px; content: ""; 
}
a[href="/nine"]:before, a[href="/9"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -770px; content: ""; 
}
a[href="/ten"]:before, a[href="/10"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -70px; content: ""; 
}
a[href="/eleven"]:before, a[href="/11"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -140px; content: ""; 
}
a[href="/twelve"]:before, a[href="/12"]:before {
    width: 20px; height: 20px; display: inline-block; background-repeat: no-repeat; background-image: url(%%spritesheet%%); background-position: 0px -210px; content: ""; 
}
