/*Wiki page headings, bold text above content. */
/*Primary page text colour */
body.wiki-page:lang(dr) { color: #d3d3d3;}

/*Table colors Headings, text, and lines */
.md:lang(dr) table {
color: #818181;
}
.md:lang(dr) table th {
border-top: 1px solid #818181;
border-left: 1px solid #818181;
border-bottom: 1px solid #818181;
border-right: 1px solid #818181;
background-color: #2e3b48;
color: #818181;
padding: .2em;
}

.md:lang(dr) td {
border-left: 1px solid #818181;
border-bottom: 1px solid #818181;
border-right: 1px solid #818181;
color: #000;
padding: .2em;
color: #d3d3d3;
}

/*Header settings, h1-h6 - Max is 6.*/
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h1{
    font-size:2.0em; 
        color: #818181;
    padding-left:-10px;
}
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h2{
    font-size:1.4em; 
        color: #818181;
    padding-left: 0px;
}
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h3{
    font-size:1.0em; 
        color: #818181;
    padding-left:8px;
}
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h4,
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h5,
body.wiki-page:lang(dr) .wiki-page-content:lang(dr) .md.wiki:lang(dr) h6 {
    font-size:0.9em; 
        color: #818181;
    padding-left: 12px;
}

/* END dark theme wiki */

/* start light theme wiki */
/*adjusts text padding*/
/*.wiki-page:lang(li) .md:lang(li) p,
.wiki-page:lang(li) .md:lang(li) ul {
   font-family: Georgia, "Times New Roman", serif;
   padding-left:35px;
   /*max-width:500px;*/
   /*line-height:140%;
}*/

.wiki-page:lang(li) .md:lang(li) h1,
.wiki-page:lang(li) .md:lang(li) h2,
.wiki-page:lang(li) .md:lang(li) h3,
.wiki-page:lang(li) .md:lang(li) h4,
.wiki-page:lang(li) .md:lang(li) h5,
.wiki-page:lang(li) .md:lang(li) h6 {
    font-family: Verdana, Tahoma, sans-serif;
}

/*Wiki page headings, bold text above content. */
/*Primary page text colour */
body.wiki-page:lang(li) { color: #5a5555;}

/*Table colors Headings, text, and lines */
.md:lang(li) table {
color: #5a5555;
}
.md:lang(li) table th {
border-top: 1px solid #525252;
border-left: 1px solid #525252;
border-bottom: 1px solid #525252;
border-right: 1px solid #525252;
background-color: #f2c782;
color: #000;
padding: .2em;
}
.md:lang(li) td {
border-left: 1px solid #525252;
border-bottom: 1px solid #525252;
border-right: 1px solid #525252;
color: #000;
padding: .2em;
color: #5a5555;
}

/*Header settings, h1-h6 - Max is 6.*/
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h1{
    font-size:2.0em; 
        color: #525252;
    padding-left:-10px;
}
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h2{
    font-size:1.4em; 
        color: #525252;
    padding-left: 0px;
}
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h3{
    font-size:1.0em; 
        color: #525252;
    padding-left: 8px;
}
/*Third headings in list*/
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h4,
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h5,
body.wiki-page:lang(li) .wiki-page-content:lang(li) .md.wiki:lang(li) h6 {
    font-size:0.9em; 
        color: #525252;
    padding-left: 12px;
}

/* END light theme wiki */
